<body class="bg-cover bg-center h-screen flex items-center" id="bg-image">
    <div class="bg-white p-8 rounded shadow-md w-96 mx-auto">
        <!-- Your login form goes here -->
        <form [formGroup]="loginForm">
            <div class="mb-4 text-2xl font-bold">
                Task Tracker Login
            </div>
            <div class="mb-4">
                <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
                <input placeholder="input email" formControlName="email" type="email" id="email" name="email"
                    class="w-full px-3 py-2 border rounded-md">
                <small class="text-red-500 font-bold">
                    <span class="float-left"
                        *ngIf="loginForm.get('email')?.['invalid'] && (loginForm.get('email')?.['touched'] || loginForm.get('email')?.['dirty'])">
                        <small class="text-danger" *ngIf="loginForm.get('email')?.errors?.['required']">
                            *email is a required field
                        </small>
                        <small class="text-danger" *ngIf="loginForm.get('email')?.errors?.['email']">
                            *Please enter a valid email address
                        </small>
                    </span>
                </small>
            </div>

            <br>

            <div class="mb-4">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
                <input placeholder="input password" formControlName="password"
                    [type]="showPassword === false ? 'password': 'text'" id="password" name="password"
                    class="w-full px-3 py-2 border rounded-md">

                <small class="text-red-500 font-bold">
                    <span class="float-left"
                        *ngIf="loginForm.get('password')?.['invalid'] && (loginForm.get('password')?.['touched'] || loginForm.get('password')?.['dirty'])">
                        <small class="text-danger" *ngIf="loginForm.get('password')?.errors?.['required']">
                            *password is a required field
                        </small>
                        <!-- <small class="text-danger" *ngIf="loginForm.get('password')?.errors?.['pattern']">
                            *At least 1 lowercase, 1 uppercase, 1 symbol, and 1 digit is required...
                        </small>
                        <small class="text-danger" *ngIf="loginForm.get('password')?.errors?.['minlength']">
                            *At least 8 digits are required
                        </small> -->
                    </span>
                </small>
                <div id="eye-controls">
                    <mat-icon (click)="togglePasswordVisibility()">{{showPassword ? 'visibility_off' :
                        'visibility'}}</mat-icon>
                </div>
            </div>
<br>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2">Token:</label>
                <input placeholder="Input token digits" formControlName="token" type="text" id="token"
                    name="token" class="w-full px-3 py-2 border rounded-md">
                <small class="text-red-500 font-bold">
                    <span class="float-left"
                        *ngIf="loginForm.get('token')?.['invalid'] && (loginForm.get('token')?.['touched'] || loginForm.get('token')?.['dirty'])">
                        <small class="text-danger" *ngIf="loginForm.get('token')?.errors?.['required']">
                            *token is a required field
                        </small>
                        <small class="text-danger" *ngIf="loginForm.get('token')?.errors?.['pattern']">
                            *Only numbers are required...
                        </small>
                        <small class="text-danger" *ngIf="loginForm.get('token')?.errors?.['minlength']">
                            *4 digits are required...
                        </small>
                        <small class="text-danger" *ngIf="loginForm.get('token')?.errors?.['maxlength']">
                            *Only 4 digits are required
                        </small>
                    </span>
                </small>
            </div>
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 w-full rounded-md"
                [disabled]="!loginForm.valid" (click)="loginUser()">Login</button>
        </form>
    </div>
</body>